style

#p33 {
    color: red;
    text-align: center;
} 

h1 {
    color:black;
    text-align: center; 
    font-size: 300%
}

#pl1 {
    color: red;
    text-align: left;
    background-color: chartreuse
} 


p1 {
    color:black;
    text-align: center;
    font-size: 200%

}

p2 {
    color:blue;
    text-align: left; 
}

p3{
    color:red;
    text-align: right;
}

pipo {
    color: green;
    text-align: center;

} 

div {
    background-color: #eee;
    width: 350px;
    height: 50px;
    border: 5px dotted black;
    overflow: visible;
    border-color: red green blue yellow;
    border-style: dotted dashed solid double;
}

.flex-container {
      float: block;

logo{
    <link rel="apple-touch-icon" sizes="57x57" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="57x57" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="C:/Users/Guillermo/Desktop/Mi pagina web/Logo/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
}
